In [2]:
import pandas as pd
import numpy as np

In [ ]:
pandas.DataFrame.rank

DataFrame.rank(axis=0, method='average', numeric_only=False, na_option='keep', ascending=True, pct=False)

Compute numerical data ranks (1 through n) along axis.
By default, equal values are assigned a rank that is the average of the ranks of those values.

axis        : {0 or 'index', 1 or 'columns'}, default 0
method      : {'average', 'min', 'max', 'first', 'dense'}, default 'average'
numeric_only: default False
na_option   : {'keep', 'top', 'bottom'}, default 'keep'
ascending   : default True
pct         : default False

In [40]:
df = pd.DataFrame(data={'Animal': ['cat', 'penguin', 'dog',
                                   'spider', 'snake'],
                        'Number_legs': [4, 2, 4, 8, np.nan]})

In [28]:
s = pd.Series(range(5), index=list("abcde"))
s["d"] = s["b"]
s.rank()

a    1.0
b    2.5
c    4.0
d    2.5
e    5.0
dtype: float64

In [39]:
df['default_rank'] = df['Number_legs'].rank()
df['max_rank'] = df['Number_legs'].rank(method='max')
df['NA_bottom'] = df['Number_legs'].rank(na_option='bottom')
df['pct_rank'] = df['Number_legs'].rank(pct=True)
df

     Animal  Number_legs  default_rank  max_rank  NA_bottom  pct_rank
0       cat            4           8.5      11.0        8.5  0.566667
1   penguin            2           2.5       4.0        2.5  0.166667
2       dog            4           8.5      11.0        8.5  0.566667
3    spider            8          14.5      15.0       14.5  0.966667
4     snake            4           8.5      11.0        8.5  0.566667
5    parrot            2           2.5       4.0        2.5  0.166667
6     zebra            2           2.5       4.0        2.5  0.166667
7       ddd            4           8.5      11.0        8.5  0.566667
8       rrr            8          14.5      15.0       14.5  0.966667
9        dd            4           8.5      11.0        8.5  0.566667
10      dog            2           2.5       4.0        2.5  0.166667
11   spider            4           8.5      11.0        8.5  0.566667
12    snake            5          12.5      13.0       12.5  0.833333
13   parrot            3           5.0       5.0        5.0  0.333333
14    zebra            5          12.5      13.0       12.5  0.833333